extends layout

block content
    h1 About
    .container
        p Welcome to DERBi PIE: the Database of Etymological Roots Beginning in Proto-Indo-European.  This database currently consists of entries from Julius Pokorny’s Indogermanisches Etymologisches Wörterbuch and Helmut Rix et al.’s Lexikon der indogermanischen Verben.  The ultimate goal is to have a database of all (relevant) dictionaries of PIE and IE daughter languages.
        p The ultimate ultimate goal is to have a database of the forms cited and proposed in all (relevant) literature connected to the roots of PIE.
        p Entries may be incomplete and have been translated from German into English using ChatGPT4. While translations have been checked by Andrew Byrd, there may be errors.
        p In this database, you may currently search roots by phonological shape, meaning of root and derivatives, specific entries, and semantic category.
        p If you find any errors or bugs, or have any suggestions, please contact Andrew at
            =" "
            a(href="mailto:andrewbyrd@uky.edu") andrewbyrd@uky.edu
            | .
