extends layout

block content
      main.container
        .container.text-center
            .row.justify-content-center.align-items-center
                .col-lg-8
                    img(src="images/DERBi-PIE-logo.png" class="splash-image mb-4")
                    h1 DERBi PIE
                    h2 Database of Etymological Roots Beginning in Proto-Indo-European
                    p.mt-4 We're hard at work building something amazing!
                    p Please check back soon as we continue to refine our database.

        style.
            .splash-image {
                max-width: 100%;
                height: auto;
            }

