extends layout

block content
    h1 About
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum metus eu volutpat elementum. Nullam tincidunt lectus at lacus pellentesque, a varius nunc condimentum. Donec blandit consectetur magna, sed pharetra erat aliquet nec. Morbi vulputate pellentesque velit ac volutpat. Sed eget efficitur urna. Mauris at elit odio. Proin fringilla maximus est at aliquam. Nulla ac facilisis quam, et fermentum velit. Cras semper aliquam mi, in rhoncus mauris interdum ac. Duis iaculis, urna non efficitur mattis, sapien mi pellentesque dui, a cursus tellus odio ut arcu. Sed porttitor venenatis rhoncus. Sed ullamcorper sem vel est ultrices malesuada. Curabitur vitae feugiat justo. Integer tempus nibh vel fringilla tincidunt. Vivamus bibendum, nisl at pulvinar finibus, turpis diam laoreet tellus, in dictum dui mauris eu orci.
