footer.footer
    .container
        .row
            .col-md-6
                h4 DERBi PIE
                span Database of Etymological Roots Beginning in PIE
            .col-md-6
                h5 Contact
                p
                    | Email: info@example.com
