extends layout

block content
    .container
        .row.justify-content-center.align-items-center
            img(src="images/Trundholm-Sun-Chariot.jpg" class="splash-image")
        .row.justify-content-center.align-items-top.min-vh-100
            .col-lg-6
                h1.text-center.mb-4 Search
                form(method="POST", action="/search/search")
                    .input-group.mb-3
                        input.form-control.alt-keys(type="text", name="searchTerm", placeholder="Enter a root", id="search-input")
                        button.btn.btn-success(type="submit") Search
                        #alt-letter-popover(style="display: none;")

    script(src="javascripts/alt_letters.js")