extends layout

block content
    .container
        .row.justify-content-center.align-items-center
            img(src="images/Trundholm-Sun-Chariot.jpg" class="splash-image")
        .row.justify-content-center.align-items-top
            .col-lg-8
                h1.text-center.mb-4 Search
                form(method="GET", action="/results")
                    .input-group.mb-3
                        //label.input-group-text(for="search-input") Meaning
                        input.form-control.alt-keys#search-input(type="text", name="search", placeholder="Enter a root")
                        #alt-letter-popover(style="display: none;")
                        button.btn.btn-success(type="submit") Search
                        a.btn.btn-info(href="instructions") ?
                        button.btn.btn-warning(type="button" data-bs-toggle="collapse" data-bs-target="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch") Advanced
        .row.justify-content-center.align-items-top
            .col-lg-6.collapse#collapseSearch
                h3.text-center.mb-4 Advanced Search

                form(method="GET", action="/results")
                    .form-group
                        label(for='rootSearchPatterned') Patterned Root Search
                        .input-group.mb-3
                            input#rootSearchPatterned.form-control(type='text', name='rootSearchPatterned', placeholder='Pattern')
                            div.btn.btn-info Help

                    .form-group
                        label(for='reflexMeaningSearch') Reflex Meaning Search
                        .input-group.mb-3
                            input#reflexMeaningSearch.form-control(type='text', name='reflexMeaningSearch', placeholder='Enter keywords')

                    .form-group
                        label(for='rootMeaningSearch') Root Meaning Search
                        .input-group.mb-3
                            input#rootMeaningSearch.form-control(type='text', name='rootMeaningSearch', placeholder='Enter keywords')


                    .form-group
                        label(for='semanticKeywordSearch') Semantic Keyword Search
                        .input-group.mb-3
                            input#semanticKeywordSearch.form-control(type='text', name='semanticKeywordSearch', placeholder='Enter keywords')

                    .form-group.text-center
                        br
                        button.btn.btn-success(type="submit", name='submit') Advanced Search

                    //.form-group
                    //    label Checkboxes
                    //    .form-check
                    //        input.form-check-input(type='checkbox', id='checkRoots', name='checkRoots', checked)
                    //        label.form-check-label(for='checkRoots') Roots
                    //    .form-check
                    //        input.form-check-input(type='checkbox', id='checkWords', name='checkWords')
                    //        label.form-check-label(for='checkWords') Words
                    //    .form-check
                    //        input.form-check-input(type='checkbox', id='checkMeanings', name='checkMeanings')
                    //        label.form-check-label(for='checkMeanings') Meanings
                    //    .form-check
                    //        input.form-check-input(type='checkbox', id='checkDerivatives', name='checkDerivatives')
                    //        label.form-check-label(for='checkDerivatives') Derivatives
                    //
                    //.form-group
                    //    label(for='selectLanguages') Designate Specific Branches/Languages
                    //    select#selectLanguages.form-control(multiple='multiple', name='languages')
                    //        option(value='Antolian') Antolian
                    //        option(value='Hittite') Hittite
                    //        option(value='Palaic') Palaic
                    //        option(value='Luvian') Luvian
                    //
                    //.form-group
                    //    label(for='langNumber') Number of Branches/Languages for Derivative
                    //    select#langNumber.form-control(name='langNumber')
                    //        option(value='1') 1
                    //        option(value='2') 2
                    //        option(value='3') 3
                    //        option(value='4') 4
        .row

    script(src="javascripts/alt_letters.js")
    script(src="javascripts/search.js")